body{
    font-family: 'Heebo', sans-serif;
    font-family: 'Poppins', sans-serif;
    
}
h1{
    font-size: 40px;
}

#name-id{
    margin: 0%;
}
.red-color{
    color: black;
    text-align: center;
}
section{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 40%;
}
.half-width img{
    width: 70%;
}
.link-button{
    text-decoration: none;
    background-color:yellowgreen ;
    padding: 8px 30px;
    border-radius: 5px;
}
.year{
    color: red;
}

.head{
    text-align:center;
}

.halfwidth img{
    width: 30%; 
}

.fullWidth{
    width: 200%;

}
.Develop {
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position:right;
    background-position-x: 0%;
    background-position-y: 70%;
   
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }
#year{

    color: brown;
}
.middle{
    text-align: center;
}